# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

**Objectives:**
Some of the popular languages that Data Scientists use are:
- Python
- R
- Javascript
- SQL
- Julia

## Author
Sudhanshu Ranjan Singh

|Data Science tools|
|--------------------|
|JupyterLab        |
|Anaconda          |
|Visual Studio Code|

# Introducing arithmetic expression expamples
### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335